apiVersion: apps/v1
kind: Deployment
metadata:
  name: proj1-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: proj1-container
          image: s10shani/proj1:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
